/* HEADER */
.header {
	display: grid;
	max-width: 2560px;
	margin: auto;
	align-items: center;
	background-color: grey;
}
.headerNav {
	display: flex;
	align-items: center;
	grid-area: navbar;
	text-align: center;
	font-weight: 500;
	padding: 2rem;
	border-top: 3px transparent solid;
}
.commercialName {
	padding: 0.25rem 1.25rem;
	border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}
body {
	font-family: 'raleway', 'sans serif';
	margin: 0;
}
.headerImg {
	padding: 0 2rem;
	grid-area: logo;
	height: 2.813rem;
}
nav {
	display: block;
}
.headerTitle {
	font-weight: 500;
	text-align: center;
}
@media screen and (min-width: 601px) {
	.header {
		grid-template-columns: auto 1fr auto auto;
		grid-template-areas: 'logo . navbar button';
	}
}
/* HEADER END */
/* BODY */
/* SEARCH */
h1 {
	font-size: 2rem;
	margin: 0.67rem 0;
}
.searchHeaderTitle {
	margin-bottom: 0.5rem;
}
.searchForm {
	display: inline-flex;
	max-width: 100%;
	overflow: auto;
}
.searchFromSearchIcon {
	padding: 0.25rem 1.25rem;
	border-radius: 1rem 0 0 1rem;
	font-weight: 500;
}
.searchFormWrapicon {
	background-color: #f2f2f2;
	padding: 1rem 1.25rem;
	border-radius: 1rem 0 0 1rem;
	text-align: center;
}
.searchFromSearchIconIcon {
	margin-left: 0.1rem;
}
.searchFormSearchinput {
	border-right: none;
	border-left: none;
	border-top: #f2f2f2 1px solid;
	border-bottom: #f2f2f2 1px solid;
	padding: 0 1.5rem;
	box-sizing: border-box;
	width: 14rem;
	font-size: 1rem;
	font-weight: bold;
	font-family: 'Raleway', 'Sans serif';
}
button,
input {
	overflow: visible;
}
.searchFormSubmitinput {
	background-color: grey;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 0 1rem 1rem 0;
	padding: 0 1.5rem;
	font-family: 'Raleway', 'Sans serif';
	font-size: 1rem;
	cursor: pointer;
}
.searchFormSearchinput::placeholder {
	font-family: 'Raleway', 'Sans serif';
	font-size: 1rem;
	color: #00000069;
}
.searchFormSubmitinputText {
	display: none;
}
.searchFormSubmitinputIcon {
	display: block;
}
.searchFormSearchIconIcon {
	margin-left: 0.1rem;
}
